<div class="carousel">
  <div class="carousel__container">

    <div class="carousel__list"></div>

    <button aria-label="Previous" class="carousel__prev">«</button>
    <button aria-label="Next" class="carousel__next">»</button>

  </div>
  <div class="carousel__indicator"></div>
</div>

<!-- <img src="view/img/2016cars.png "> -->
<section id="port-sec" class="text-center">
  <div class="container_types">

    <h1><strong>Types</strong></h1>
    <div id="types"></div>
    <div id="types_button">
      <button class="load_more button" id="load_more_button">load More</button>
    </div>

  </div>
  <div class="container_category">

    <h1><strong>Categories</strong></h1>
    <div class="pepino"> </div>
    <div id="category"></div>

  </div>


</section>