<section id="footer-sec">

    <div class="container">
        <!--         <button style="float: right" class="default-button" id="btn-slide" data-tr="Languages">Languages</button>
 -->
        <!--  <div id="slide-lang">
            <ul style="list-style : none; margin: 0; padding: 0; margin-top: 2px;">
                <li><button class="lang-btn" data-tr="Valencian" id="btn-val"></buttton>
                </li>
                <li><button class="lang-btn" data-tr="Spanish" id="btn-es"></button></li>
                <li><button class="lang-btn" data-tr="English" id="btn-en"></button></li>
            </ul>
        </div> -->
        <div class="row  pad-bottom">
            <div class="col-md-4">
                <h4> <strong>ABOUT</strong> </h4>
                <p>
                    Vorem si aprobe...
                </p>
                <a href="#">Dame animos...</a>
            </div>
            <div class="col-md-4">
                <h4> <strong>SOCIAL MEDIA</strong> </h4>
                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4> <strong>Direccion</strong> </h4>
                <p>
                    Estem aci al costat meló
                </p>
                <a href="#" class="btn btn-primary">Suxerencies</a>
            </div>

        </div>
    </div>
</section>
<!-- <div id="footer">
    <a href="" data-tr="Contact"></a>&nbsp;&nbsp;·&nbsp;&nbsp;
	<a href="" data-tr="Email"></a>&nbsp;&nbsp;·&nbsp;&nbsp;
	<a href="" data-tr="Direccion"></a>&nbsp;&nbsp;
</div> -->