<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <!--     <link href="view/css/style.css" rel="stylesheet" type="text/css" />
 -->
   <!-- BOOTSTRAP CORE STYLE CSS -->
<link rel="icon" type="image/x-icon" href="view/img/favicon-16x16.png">

   <link href="view/assets/css/bootstrap.css" rel="stylesheet" />
   <!-- FONTAWESOME STYLE CSS -->
   <link href="view/assets/css/font-awesome.min.css" rel="stylesheet" />
   <!-- CUSTOM STYLE CSS -->
   <link href="view/assets/css/style.css" rel="stylesheet" />
   <!-- GOOGLE FONT -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

 <!--   <script src="module/home/model/homepage.js"></script> -->

   <script src="view/js/translate.js"></script>

   <script src="view/assets/plugins/jquery-1.10.2.js"></script>
   <!-- BOOTSTRAP SCRIPTS  -->
   <script src="view/assets/plugins/bootstrap.js"></script>

   <script src="module/search/model/search.js"></script>

   <!-- CUSTOM SCRIPTS  -->
   <!--     <script src="view/assets/js/custom.js"></script> -->