<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <!-- Palntilla -->
    <link href="view/assets/css/bootstrap.css" rel="stylesheet" />

    <link href="view/assets/css/font-awesome.min.css" rel="stylesheet" />

    <link href="view/assets/css/style.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="view/js/glider_docs/glider.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <script src="view/js/utils.js"></script>

    <!-- CAROUSEL(GLIDER) -->
    <script src="view/js/glider_docs/glider.js"></script>

    <script src="module/home/model/homepage.js"></script>

    <!--     <script src="module/search/model/search.js"></script>
 -->

</head>