
<div class="container">

    <div id="details_cars"></div>
    <div class="single-item"></div>
    <!-- i'm sorry -->
    <h1>FIlters&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Our Cars</h1>
    <div class="filters__container">

        <form autocomplete="on" method="post" name="filter" id="filter">
            <div class="filters__content"></div>
        </form>
    </div>

    <div class="container">
        <!--  <div class="titles">
            <h2>Our Cars</h2>
        </div> -->
        <div id="list_cars"></div>
        <div id="pagination"></div> 

    </div>
    <h2>Location</h2>
    <div class="maps__container">
        <div id="mimapa"></div>

    </div>
</div>